.elem, .elem * {
	box-sizing: border-box;
	margin: 0 !important;	
}
.elem {
	display: inline-block;
	font-size: 0;
	width: 33%;
	border: 0px solid transparent;
	border-bottom: none;
	background: #fff;
	padding: 0px;
	height: auto;
	background-clip: padding-box;
}
.elem > span {
	display: block;
	cursor: pointer;
	height: 0;
	padding-bottom:	70%;
	background-size: cover;	
	background-position: center center;
}

.lcl_fade_oc.lcl_pre_show #lcl_overlay,
.lcl_fade_oc.lcl_pre_show #lcl_window,
.lcl_fade_oc.lcl_is_closing #lcl_overlay,
.lcl_fade_oc.lcl_is_closing #lcl_window {
	opacity: 0 !important;
}
.lcl_fade_oc.lcl_is_closing #lcl_overlay {
	-webkit-transition-delay: .15s !important; 
	transition-delay: .15s !important;
}

.content{
	width: 1226px;
}

@media (max-width: 767.98px){
	.banner .principal-banner h1 {
		font-size: 1.3rem;
		text-align: center;
		margin-left: 0px;
		letter-spacing: 24px;
	}

	.py-5 {
		padding-top: 0rem !important;
	}
	
}
