@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body{ 
    font-family:'roboto', sans-serif;
    font-size:18px;
    line-height: 1.8em;
    color: black;
}

html, body {
    height:100%;
}
h1{
    font-family: 'futura heavy';
    font-size: 2rem;
    text-transform: uppercase;
    color: $color4-futeca;
}
h2{
    font-size: 1.5rem !important;
    font-family: 'futura heavy';
    }
h3{
    font-size: 1.25rem !important;
    font-family: 'futura heavy';
    }
p{
    font-size: .90rem;
    line-height: 20px;
    font-family: 'futura book';
    margin-top: 1rem;
}

label, .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
 }

a {background-color:transparent !important;}
