.carousel-item {
    position:relative;
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/*Media query */
.carousel-caption {
    right: 5%;
    bottom:5em;
    text-align:right;
    opacity:.9;
    max-width:80em;
    left: auto;
    font-size: 2em;
    padding:5px;
}


.btnbanner{
    background-color: rgb(255, 230, 4) !important;
    color:rgb(0,0,0)!important;
}
a{
  text-decoration: "none" !important;
}


/* Cartas de los entrenadores*/
.card-container {
    perspective: 700px;
    display: grid;
    font-size:15px;

  }
  
  .card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .back {
    transform: rotateY(-180deg);
  }
  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }

  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .front {
    grid-area: frontAndBack;
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
  }

  .img {
      height:250px;
      width: 250px;
  }


  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
 
  .owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none !important;
}


