.carousel-item {
    position:relative;
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/*Media query */
.carousel-caption {
    right: 5%;
    bottom:5em;
    text-align:right;
    opacity:.9;
    max-width:80em;
    left: auto;
    font-size: 2em;
    padding:5px;
    h1{
      padding: .75rem 1rem;
      font-family: 'futura heavy';
    }
}

.btn-futeca{
  font-size: .80rem !important;
  background: $color3-futeca;
  font-weight: 600;
  color: $color4-futeca;
  border: 1px solid grey;
  width: 140px;
  height: 40px;
  padding: 0;
  overflow: hidden;
  display: flex;
  text-decoration: none;
  position: relative;
  .after{
    height: 117px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 40px;
    background: $color4-futeca;
    color: $color3-futeca;
    margin-top: -25px;
    position: absolute;
    right: 0px;
  }
  span{
    position: absolute;
    right: 8px;
    top: 3px;
    color: $color3-futeca;
    font-size: 1.5rem;
    font-family: 'futura book';
    transition: all .2s ease;
  }
  &:hover{
    transition: all .2s ease;
    text-decoration: none;
    span{
      right: 4px;
      transition: all .2s ease;
    }
  }
  
  transition: all .2s ease;
}
.btn-futeca-2{
  font-size: .80rem !important;
  background: $color5-futeca;
  font-weight: 600;
  color: white;
  border: 1px solid grey;
  width: 140px;
  height: 40px;
  padding: 0;
  overflow: hidden;
  display: flex;
  text-decoration: none;
  position: relative;
  .after{
    height: 117px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 40px;
    background: $color4-futeca;
    color: white;
    margin-top: -25px;
    position: absolute;
    right: 0px;
  }
  span{
    position: absolute;
    right: 8px;
    top: 3px;
    color: $color5-futeca;
    font-size: 1.5rem;
    font-family: 'futura book';
    transition: all .2s ease;
  }
  &:hover{
    transition: all .2s ease;
    text-decoration: none;
    color: white;
    span{
      right: 4px;
      transition: all .2s ease;
    }
  }
  
  transition: all .2s ease;
}

.our-family{
  background: url('../assets/images/our-family-background.png');
  background-size: cover;
  background-position: center;
  max-width: 105vw;
  .text-our-family{
    padding: 3rem;
    /*p{
    color: #e9d10a;
    mix-blend-mode: difference;
    }*/
    font-family: "futura heavy";
  }
  h1{
    color: white;
    span{
      color: $color5-futeca;
    }
  }
}

.name-staff{
  h2{
  color: white;
  text-align: right;
  }
}
.description-staff{
  p{
    font-size: .70rem !important;
  }
}

/* Cartas de los entrenadores*/
.card-container {
    perspective: 700px;
    display: grid;
    font-size:15px;

  }
  
  .card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .back {
    transform: rotateY(-180deg);
  }
  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }

  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .front {
    grid-area: frontAndBack;
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
  }

  .img {
      height:250px;
      width: 250px;
  }

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
 
  .owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none !important;
  }

.text-our-family{
  .btn-futeca{

    font-size: .80rem !important;
    background: rgba(0,0,0,.9) !important;
    font-weight: 600;
    color: #ffc107 !important;
    border: 1px solid rgba(0,0,0,.9);
    width: 140px;
    height: 40px;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    position: relative;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
     
    .after {
      height: 117px;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      width: 40px;
      background: #dc3545 !important;
      color: #ffe604 !important;
      margin-top: -25px;
      position: absolute;
      right: 0px;
  }
  }
}

.contenedor1{

  width: auto;
  height: 420px;
border: 0px solid black;
position: relative;
overflow: hidden;

}

.contenido1{
    width: 100%;
    height: 100%;
    background-color: #e9cf08;
    transform: skewX(-16deg) translateX(-50%);
    position: absolute;
    z-index: 10;
    @media (max-width: 992px) {
      transform: skewX(-16deg) translateX(0);
    }

    .btn-futeca {
        font-size: .80rem !important;
        background: rgba(0,0,0,.9) !important;
        font-weight: 600;
        color: #ffc107 !important;
        border: 1px solid #212529;
    
        .after{
            background: #dc3545 !important;
        color: #ffc107 !important;
        }
    }

    .row2{
      margin-top: 4%;
        margin-left: 52%;
        width: 87%;
      text-align: justify;
      transform: skew(16deg);
    
      p {
          font-size: .90rem;
          line-height: 20px;
          font-family: 'futura book';
          margin-top: 1rem;
          font-weight: bold;
      }
     
      
          h1{
            color: white;
            span{
              color: $color5-futeca;
              padding: 10px;
            }
          }
        }

        .row p {
          font-size: 1.9rem;
          line-height: 20px;
          font-family: 'futura book';
          margin-top: 1rem;
          font-weight: bold;
          color: #ffe818;
      }

}



.contenido2{
  
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  
}

.img-aviso{

  height: 550px;

  @media (max-width: 768px){
       
        height: 400px;
  }

  @media (max-width: 375px){
       
    height: 350px;
}

}