.carousel-item{
    max-height: 100vh;
    position: relative;
    .carousel-caption{
        position: absolute;
        width: auto !important;
        right: 5%;
        left: auto !important;
        bottom: 20%;
        text-align: right;
        background: hsla(9, 100%, 64%, 0.5);
        h5{
            width: auto !important;
            padding: 0 0.5em !important;
            text-transform: uppercase;
            font-size: 2.5em;
            font-weight: 700;
        }
        p{
            width: auto !important;
            padding: 0 1.5em !important;

        }
        .btn{
            border-radius: 0 !important;
        }
    }
    img{
        max-height: 100%;
        object-fit: cover;
    }
}