.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
   
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }
   
  /* 4x3 Aspect Ratio */
  .iframe-container-4x3 {
    padding-top: 75%;
  }

  .pt-4, .py-4 {
    padding-top: 0.5rem!important;
  }

  .contenedor{

    width: auto;
    height: 482px;
  border: 0px solid black;
  position: relative;
  overflow: hidden;

}  

.col-sm-12 col-lg-5{

  padding-top: 15px;
    right: 35px;
    left: 54%;
    margin: -29px;

}
p{
  text-align: justify;

}
.content {
  width: auto;
}
.elem{
  width: 100%;
  @media (min-width: 576px) {
    width: 100%;
   }
   @media (min-width: 768px) {
    width: 48%;
   }
   @media (min-width: 992px) {
    width: 33%;
   }
}

