
.banner .principal-banner img {
    height: 96vh;
    width: 100%;
}

.pt-5{

    @media (max-width: 767.98px) {

        padding-top: 2rem !important ;

    }
}

.col-md-4{

    @media (max-width: 767.98px) {

        padding-top: 83px;
        
    }
}