/* Fonts Assets */
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "futura extrabold";
  src: url("../assets/fonts/FuturaStd-ExtraBold.otf");
}

@font-face {
  font-family: "futura bold";
  src: url("../assets/fonts/FuturaStd-Bold.otf");
}

@font-face {
  font-family: "futura book";
  src: url("../assets/fonts/FuturaStd-Book.otf");
}

@font-face {
  font-family: "futura heavy";
  src: url("../assets/fonts/FuturaStd-Heavy.otf");
}

body {
  font-family: 'roboto', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  color: black;
}

html, body {
  height: 100%;
}

h1 {
  font-family: 'futura heavy';
  font-size: 2rem;
  text-transform: uppercase;
  color: #3e3e3e !important;
}

h2 {
  font-size: 1.5rem !important;
  font-family: 'futura heavy';
}

h3 {
  font-size: 1.25rem !important;
  font-family: 'futura heavy';
}

p {
  font-size: .90rem;
  line-height: 20px;
  font-family: 'futura book';
  margin-top: 1rem;
}

label, .btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

a {
  background-color: transparent !important;
}

/* 

.date-card{
    width: 40%;
    font-size: 1rem !important;
    color: white;
    background:$color3-futeca;
    margin-left: 30%;
    text-align: center;
} */
.card .card-img-top {
  border-radius: 5px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.card .card-title {
  font-family: 'futura heavy';
  color: #3e3e3e !important;
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  width: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card .card-date {
  text-align: center;
  font-size: .6rem !important;
  padding-top: .5rem;
  color: grey;
  font-family: 'futura book';
}

.card .separator-title {
  background: #c7c7c7;
  margin-bottom: .75rem;
  width: 10%;
  height: 4px;
  margin-left: 45%;
  border-radius: 10px;
}

@media (max-width: 767.98px) {
  .card {
    margin: 0px;
  }
}

.card-shadow {
  -webkit-box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px -12px rgba(0, 0, 0, 0.75);
}

.h1-span {
  color: #df5151 !important;
}

.banner .principal-banner {
  position: relative;
}

.banner .principal-banner img {
  height: 88vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .principal-banner .overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}

.banner .principal-banner h1 {
  position: absolute;
  color: white !important;
  font-family: 'futura heavy';
  font-size: 3rem;
  letter-spacing: 30px;
  text-align: center;
  width: 100%;
  top: 40%;
}

@media (max-width: 767.98px) {
  .banner .principal-banner h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 0px;
  }
}

.modal-header {
  background: #df5151 !important;
  color: #3e3e3e !important;
  font-family: 'futura bold';
  padding: 1.6rem;
}

.modal-header h5 {
  font-size: 2rem;
  color: white;
}

.modal-body {
  padding: 1.6rem;
}

.modal-body p {
  font-size: 1rem;
}

.nav-tabs .nav-link:hover {
  color: #3e3e3e !important;
}

.col-12 {
  padding-top: inherit;
}

.navbar {
  position: inherit;
  top: 0;
  width: 100%;
  min-height: 2em;
  background-color: #3e3e3e !important;
}

.navbar .nav-link {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
  color: white !important;
  font-size: .75rem;
  font-family: 'roboto';
  letter-spacing: 2px;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
  background-size: 100% 2px;
  color: white !important;
}

.navbar ul.nav a:hover {
  color: #fff !important;
}

.logo {
  float: left;
  /* background:rgb(223, 81, 81); */
  z-index: 2;
}

/* .logo:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background:rgb(223, 81, 81);
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
} */
@media (min-width: 360px) and (max-width: 500px) {
  .logo {
    float: none;
    position: relative;
    /* background:rgb(223, 81, 81); */
    z-index: 2;
    height: auto;
    width: auto;
  }
  .logo:after {
    display: none;
  }
}

.carousel-item {
  position: relative;
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

/*Media query */
.carousel-caption {
  right: 5%;
  bottom: 5em;
  text-align: right;
  opacity: .9;
  max-width: 80em;
  left: auto;
  font-size: 2em;
  padding: 5px;
}

.carousel-caption h1 {
  padding: .75rem 1rem;
  font-family: 'futura heavy';
}

.btn-futeca {
  font-size: .80rem !important;
  background: #ffe604 !important;
  font-weight: 600;
  color: #3e3e3e !important;
  border: 1px solid grey;
  width: 140px;
  height: 40px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-futeca .after {
  height: 117px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 40px;
  background: #3e3e3e !important;
  color: #ffe604 !important;
  margin-top: -25px;
  position: absolute;
  right: 0px;
}

.btn-futeca span {
  position: absolute;
  right: 8px;
  top: 3px;
  color: #ffe604 !important;
  font-size: 1.5rem;
  font-family: 'futura book';
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-futeca:hover {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-decoration: none;
}

.btn-futeca:hover span {
  right: 4px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-futeca-2 {
  font-size: .80rem !important;
  background: #df5151 !important;
  font-weight: 600;
  color: white;
  border: 1px solid grey;
  width: 140px;
  height: 40px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-futeca-2 .after {
  height: 117px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 40px;
  background: #3e3e3e !important;
  color: white;
  margin-top: -25px;
  position: absolute;
  right: 0px;
}

.btn-futeca-2 span {
  position: absolute;
  right: 8px;
  top: 3px;
  color: #df5151 !important;
  font-size: 1.5rem;
  font-family: 'futura book';
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn-futeca-2:hover {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-decoration: none;
  color: white;
}

.btn-futeca-2:hover span {
  right: 4px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.our-family {
  background: url("../assets/images/our-family-background.png");
  background-size: cover;
  background-position: center;
  max-width: 105vw;
}

.our-family .text-our-family {
  padding: 3rem;
}

.our-family .text-our-family p {
  color: #e9d10a;
  mix-blend-mode: difference;
}

.our-family h1 {
  color: white;
}

.our-family h1 span {
  color: #df5151 !important;
}

.name-staff h2 {
  color: white;
  text-align: right;
}

.description-staff p {
  font-size: .70rem !important;
}

/* Cartas de los entrenadores*/
.card-container {
  -webkit-perspective: 700px;
          perspective: 700px;
  display: -ms-grid;
  display: grid;
  font-size: 15px;
}

.card-flip, .card-container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.card-flip div {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-flip {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr / 1fr;
      grid-template-areas: "frontAndBack";
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.front {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: frontAndBack;
}

.back {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: frontAndBack;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.img {
  height: 250px;
  width: 250px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  display: none !important;
}

.text-our-family .btn-futeca {
  font-size: .80rem !important;
  background: rgba(0, 0, 0, 0.9) !important;
  font-weight: 600;
  color: #ffc107 !important;
  border: 1px solid rgba(0, 0, 0, 0.9);
  width: 140px;
  height: 40px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.text-our-family .btn-futeca .after {
  height: 117px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 40px;
  background: #dc3545 !important;
  color: #ffe604 !important;
  margin-top: -25px;
  position: absolute;
  right: 0px;
}

.contenedor1 {
  width: auto;
  height: 420px;
  border: 0px solid black;
  position: relative;
  overflow: hidden;
}

.contenido1 {
  width: 100%;
  height: 100%;
  background-color: #e9cf08;
  -webkit-transform: skewX(-16deg) translateX(-50%);
          transform: skewX(-16deg) translateX(-50%);
  position: absolute;
  z-index: 10;
}

@media (max-width: 992px) {
  .contenido1 {
    -webkit-transform: skewX(-16deg) translateX(0);
            transform: skewX(-16deg) translateX(0);
  }
}

.contenido1 .btn-futeca {
  font-size: .80rem !important;
  background: rgba(0, 0, 0, 0.9) !important;
  font-weight: 600;
  color: #ffc107 !important;
  border: 1px solid #212529;
}

.contenido1 .btn-futeca .after {
  background: #dc3545 !important;
  color: #ffc107 !important;
}

.contenido1 .row2 {
  margin-top: 4%;
  margin-left: 52%;
  width: 87%;
  text-align: justify;
  -webkit-transform: skew(16deg);
          transform: skew(16deg);
}

.contenido1 .row2 p {
  font-size: .90rem;
  line-height: 20px;
  font-family: 'futura book';
  margin-top: 1rem;
  font-weight: bold;
}

.contenido1 .row2 h1 {
  color: white;
}

.contenido1 .row2 h1 span {
  color: #df5151 !important;
  padding: 10px;
}

.contenido1 .row p {
  font-size: 1.9rem;
  line-height: 20px;
  font-family: 'futura book';
  margin-top: 1rem;
  font-weight: bold;
  color: #ffe818;
}

.contenido2 {
  width: 100%;
  height: 100%;
  background-color: #000000cf;
  z-index: 0;
}

@media (min-width: 360px) and (max-width: 500px) {
  .mapsmediaquery {
    width: 375px;
    height: 285px;
    margin: -15px;
  }
}

.container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 25px;
  padding-right: 25px;
}

.banner-contactanos .principal-banner {
  position: relative;
}

.banner-contactanos .principal-banner img {
  height: 88vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-contactanos .principal-banner .overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
}

.banner-contactanos .principal-banner h1 {
  position: absolute;
  color: #ffffff !important;
  font-family: 'futura heavy';
  font-size: 3rem;
  letter-spacing: 30px;
  text-align: center;
  width: 100%;
  top: 40%;
}

@media (max-width: 767.98px) {
  .banner-contactanos .principal-banner h1 {
    font-size: 2.4rem;
    letter-spacing: 20px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .banner-contactanos .principal-banner h1 {
    font-size: 1.3rem;
    letter-spacing: 10px;
    text-align: center;
  }
}

.footer {
  background: #3e3e3e !important;
}

.nav-footer {
  width: auto;
}

.nav-footer .nav-item .nav-link {
  color: grey;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: .9rem;
}

.nav-footer .nav-item .nav-link:hover {
  color: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.img-footer {
  width: 125px;
  height: auto;
  padding: .75rem;
}

.icon-footer {
  color: white !important;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.icon-footer:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
  color: white;
}

.banner .principal-banner img {
  height: 88vh;
  width: 100%;
}

.pt-5, .py-5 {
  padding-top: 6rem !important;
}

.politicas {
  font-size: 1.2em;
  line-height: 1.5em;
}

.tab-content {
  padding-top: 5rem;
}

@media (max-width: 767.98px) {
  .tab-content {
    font: -webkit-control;
  }
}

.nav-tabs .nav-link.active {
  color: #b19f13;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  background-color: transparent;
}

.uno {
  width: auto;
  height: 420px;
  border: 0px solid black;
  position: relative;
  overflow: hidden;
}

.dos {
  width: 100%;
  height: 100%;
  background-color: #e9cf08;
  -webkit-transform: skewX(-16deg) translateX(-50%);
          transform: skewX(-16deg) translateX(-50%);
  position: absolute;
  z-index: 10;
}

.dos .btn-futeca {
  font-size: .80rem !important;
  background: rgba(0, 0, 0, 0.9) !important;
  font-weight: 600;
  color: #ffc107 !important;
  border: 1px solid #212529;
}

.dos .btn-futeca .after {
  background: #dc3545 !important;
  color: #ffc107 !important;
}

.row2 {
  margin-top: 3%;
  margin-left: 50%;
  width: 95%;
  text-align: justify;
  -webkit-transform: skew(16deg);
          transform: skew(16deg);
}

.row2 p {
  font-size: .90rem;
  line-height: 20px;
  font-family: 'futura book';
  margin-top: 1rem;
  font-weight: bold;
}

.row2 h1 {
  color: white;
}

.row2 h1 span {
  color: #df5151 !important;
  padding: 10px;
}

.tres {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  background-size: 673px;
}

.bg-info {
  background-color: #e9cf08 !important;
}

p {
  font-size: .90rem;
  line-height: 20px;
  font-family: 'futura book';
  margin-top: 1rem;
  color: black;
}

.name-staff h2 {
  color: white;
  text-align: right;
}

.description-staff p {
  font-size: .70rem !important;
  color: #e9cf08;
}

.elem, .elem * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 !important;
}

.elem {
  display: inline-block;
  font-size: 0;
  width: 33%;
  border: 0px solid transparent;
  border-bottom: none;
  background: #fff;
  padding: 0px;
  height: auto;
  background-clip: padding-box;
}

.elem > span {
  display: block;
  cursor: pointer;
  height: 0;
  padding-bottom: 70%;
  background-size: cover;
  background-position: center center;
}

.lcl_fade_oc.lcl_pre_show #lcl_overlay,
.lcl_fade_oc.lcl_pre_show #lcl_window,
.lcl_fade_oc.lcl_is_closing #lcl_overlay,
.lcl_fade_oc.lcl_is_closing #lcl_window {
  opacity: 0 !important;
}

.lcl_fade_oc.lcl_is_closing #lcl_overlay {
  -webkit-transition-delay: .15s !important;
  transition-delay: .15s !important;
}

.content {
  width: 1226px;
}

@media (max-width: 767.98px) {
  .banner .principal-banner h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-left: 0px;
    letter-spacing: 24px;
  }
  .py-5 {
    padding-top: 0rem !important;
  }
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

.pt-4, .py-4 {
  padding-top: 0.5rem !important;
}

.contenedor {
  width: auto;
  height: 482px;
  border: 0px solid black;
  position: relative;
  overflow: hidden;
}

.col-sm-12 col-lg-5 {
  padding-top: 15px;
  right: 35px;
  left: 54%;
  margin: -29px;
}

p {
  text-align: justify;
}

.content {
  width: auto;
}

.elem {
  width: 100%;
}

@media (min-width: 576px) {
  .elem {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .elem {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .elem {
    width: 33%;
  }
}
/*# sourceMappingURL=main.css.map */